$(document).ready(function() {

	// Modals and tooltips in navbar
	$('#instructions-link').click(function() {
		$('#instructions-modal').modal();
	});
	
	$('.tooltip-wrapper').tooltip();

	// Functionality for Chart form
	if ($('.chart_form').length > 0) {

		/* AUTOSAVE
		/*
		/* The chart is saved to local storage at regular intervals, and when the user leaves the page. 
		/* When the user saves, local storage is cleared out.
		/*
		/* When a new page is loaded (either blank, or with a saved chart), we make sure there's no autosave data. 
		/* If there is, we confirm that the user wants to start with a new chart. If they don't, we load the autosave data
		/* with the appropriate URL.
		====================================*/

		var formChanged = false;
		var preventAutosave = false;

		// Autosaving only occurs if the form is changed
		$('.chart_form .form-control').on('change keyup', function() { 
			formChanged = true; 
		});

		//Autosave every minute and a half
		var autosave = function() {
			if (formChanged) {
				// console.log("Autosaving...");
				localStorage.chart_title = $('#chart_title').val();
				localStorage.chart_chartup = $('#chart_chartup').val();
				localStorage.chart_url = location.href;
				preview_url = $('#main-preview-image').attr('src');
				if (preview_url) {
					localStorage.preview_url = preview_url;
				}
				// console.log("Autosave complete.");
				formChanged = false;
			}
		};

		setInterval(autosave, 90 * 1000); 

		// If we leave the page, autosave. Unless it's from the save button. 
		$(window).on("beforeunload", function() {
			if (! preventAutosave) {
				autosave();
				preventAutosave = false;
			}
		});

		var deleteAutosave = function() {
			localStorage.removeItem('chart_title');
			localStorage.removeItem('chart_chartup');
			localStorage.removeItem('chart_url');
			localStorage.removeItem('preview_url');
		};

		// On Save, make sure preview image URL is saved to server.
		$('.chart_form').submit(function(e) {
			e.preventDefault();
			$('#chart_png_path').val($('#main-preview-image').attr('src'));
			this.submit(); // Submit form directly to avoid triggering jQuery handler
		});


		var loadFromAutosave = function() {
			$('#chart_title').val(localStorage.chart_title);
			$('#chart_chartup').val(localStorage.chart_chartup);
			if (localStorage.preview_url) {
				preview_image = $('#main-preview-image');
				preview_image.attr('src', localStorage.preview_url);
				preview_image.show();
			}

		};

		var autosaveDataExists = function() {
			return localStorage.chart_title || localStorage.chart_chartup;
		};


		var deleteOrLoadAutosave = function(newTitle) {
			if (autosaveDataExists()) {
				bootbox.confirm("You have unsaved changes to the chart \"" + localStorage.chart_title + "\". " +
					"Are you sure you want to scrap them, and work on " + newTitle + " instead?", 
					function(result) {
						// Scrap chart
						if (result) {
							deleteAutosave();
						}
						// Go back to unsaved chart
						else {
							if (localStorage.chart_url) {
								reloadWithAutosave();
							}
						}
					}
				);
			}
		};

		var reloadWithAutosave = function() {
			localStorage.forceLoadFromAutosave = true;
			location.href = localStorage.chart_url;			
		};

		/* INITIAL PAGE LOAD
		==============================*/

		// If this is a reloadWithAutosave, load the autosave data.
		if (localStorage.forceLoadFromAutosave) {
			loadFromAutosave();
			localStorage.removeItem('forceLoadFromAutosave');
		}
		else {

			// Load preview image passed up from server
			preview_url = $('#chart_png_path').val();
			if (preview_url) {
				$('#main-preview-image').attr('src', preview_url);
				$('#main-preview-image').show();
			}

			// If we just saved successfully, clear the autosave data
			if ( $('#chart-saved').length ) {
				deleteAutosave();
				$('#chart-saved').remove();
			}

			else {
				/* If we got here via Home link, load the autosaved chart.
				/* Do this by reloading the page with the right form (new or edit) and URL.
				/* If we got here by New or Edit, make sure the user wants to ditch the autosave.
				*/
				switch ($('#hidden-action-tag').html()) {
					case "home":
						if (localStorage.chart_url) {
							reloadWithAutosave();
						}
					break;
					case "new":
						deleteOrLoadAutosave("a new chart");
					break;
					case "edit":
						deleteOrLoadAutosave('"' + $('#chart_title').val() + '"');			 
					break;
				}
			}
		}

		/* CHART IMAGES
		====================================*/

		// Retrieve PNG URL via AJAX and embed in page.
		$('#preview-button').click ( function(e) {
			e.preventDefault();
			previewImage = $('#main-preview-image');
			// var oldImage = previewImage.attr('src');
			// previewImage.attr('src', "<%= asset_path 'loading.gif' %>" );
			$('#preview-button').button('loading');
			clearErrors();
			$.ajax({
				type: "POST",
				url: "/charts/preview",
				data: $('.chart_form').serialize(),
				// dataType: 'text',
				success: function(data, status, xhr) {
					previewImage.attr('src', xhr.responseText);
					previewImage.show();
					$('#preview-button').button('reset');
				},
				error: function(xhr, status, error) {
					console.log(error);
					console.log(xhr.responseJSON);
					errors = xhr.responseJSON.error;
					for (var i = 0; i < errors.length; i++) {
						$('#form-errors').prepend("<p class='alert alert-danger'>" + errors[i] + "</p>");
					}
					$('#preview-button').button('reset');
				}
			});
		});

		// Submit data to download action.
		$('#pdf-button').click ( function(e) {
			e.preventDefault();
			clearErrors();
			var form = $('.chart_form');
			var oldAction = form.attr('action');
			form.attr('action', "/charts/download").submit();
			form.attr('action', oldAction);
		});

		/* OTHER */
		var clearErrors = function() {
			$('.alert').remove();
		};
	}
});