//@import "bootstrap";
body {
  padding-top: 50px;
}
#main_page {
  padding: 40px 15px;
}

#preview-image {
	max-width: 75%;
}

#preview-image-container {
	text-align: center;
}

.submit-buttons {
	display:block;
	text-align:center;
}