
<div class="modal fade" id="instructions-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      <h2>Instructions</h2>
		</div>
		<div class="modal-body">
		    <p>Thanks for checking out ChartUp, a simple language designed to make writing charts easier. It's still in the early stages, so you can't do a lot of things yet. Here's a sample chart:</p>

		    <pre>
VERSE
-------------
A | A | A | A
D | D | D | E
F | Fm | Gm7b5 - C7 - |

CHORUS
--------------
Fm - - C#7 | A6 Dm7 F#m9 E5 | D5 D7#5 D6 D13 |
    G          | Gm7 C7       | E7 - A7 -  |

BRIDGE
--------------
F | Bb | Gm | A7 | D | D
</pre>


			<h4>Tips and Tricks</h4>
			<ul>
				<li>Chord shorthand: Use `-` to extend a chord for multiple beats. Leaving only one or two chords in a bar will make them whole notes or half notes, respectively.</li>
				<li>Rehearsal Marks: Put `------` under a letter, word, or phrase to mark the section below it. </li>
			</ul>
		</div>
    </div>
  </div>
</div>
