
<div class="modal fade" id="instructions-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      <h2>Instructions</h2>
		</div>
		<div class="modal-body container-fluid">
		    <p>Thanks for checking out ChartUp, a simple language designed to make writing charts easier. It's still in the early stages, so you can't do a lot of things yet.</p>

		    <p>Here's a sample chart:</p>
		    <div class="row">
				<div class="col-md-7">
				    <pre>

VERSE
-------------
A | A | A | A
D | D | D | E
F | Fm | Gm7b5 - C7 - |

CHORUS
--------------
Fm - - C#7 | A6 Dm7 F#m9 Em7b5 | D D7#5 D6 D13 |
    G          | Gm7 C7       | E7 - A7 -  |

BRIDGE
--------------
F | Bb | Gm | A7 | D | D

					</pre>

				</div>
				<div class='col-md-5 preview-image-container'>
					<%= image_tag 'sample_chart.png', class: 'preview-image' %>
				</div>
			</div>
			<div class='row'>
				<h3>How It Works:</h3>
				<ul class='list-group'>
					<li class='list-group-item'>
						<h4 class='list-group-item-heading'>Titles:</h4>
						<p class='list-group-item-text'>
							You can title any section by putting the title on its own line, and then putting a line of dashes ("------") under it.
						</p>
					</li>
					<li class='list-group-item'>
						<h4 class='list-group-item-heading'>Measures:</h4>
						<p class='list-group-item-text'>
							Measures are separated with pipe characters ("|"). Right now, Chartup only supports 4/4, so measures can fit up to 4 quarter-note long chords. 
						</p>
					</li>
					<li class='list-group-item'>
						<h4 class='list-group-item-heading'>Chords:</h4>
						<p class='list-group-item-text'>
							By default, chords last for one beat. To extend a chord, put a dash after it. For example, "Gm - - " would last for 3 beats. Please note: Chords and dashes must all be separated by spaces! "Gm---" will not work!
						</p>
						<p></p>
						<p class='list-group-item-text'>
							If there aren't enough chords in a measure, Chartup will extend chords appropriately. 
						</p>
					</li>
				</ul>

				<h3>Things That Don't Work Yet:</h3>
				<ul>
					<li>Time Signatures other than 4/4</li>
					<li>Key Signatures </li>
					<li>Repeat barlines</li>
					<li>Slash chords (e.g. A/G)</li>
				</ul>
			</div>
		</div>
    </div>
  </div>
</div>
